.image {
    height: 40em;
    background-size: cover;
    width: auto;
    background-image: url("https://cdn.sixt.io/cms/originals/62fd6a15-e739-460f-bd3e-2ce5e5efb864.jpg");
    background-position: 50% 50%;
  }